<html>
  <head>
    <style>
      *{
        font-family: sans-serif
      }
      li{
        clear:both;
      }
      li img {
        float:left;
        margin: 0 5px 5px 0;
      }
    </style>
  </head>
  <body>
    <h1>sometweets</h1>
    <div class="col" id="recent">
      <h2>recent</h2>
      <ol>
        <%=partial :tweet, :collection => @timeline %>
      </ol>
    </div>
  </body>
</html>