<html>
  <head>
    <style>
      *{
        font-family: sans-serif
      }
    </style>
  </head>
  <body>
    <h1>sometweets</h1>
    <p>Sometweets is a service that filters your twitter stream.  </p>
    
    <p><a href="/admin"><img src="http://apiwiki.twitter.com/f/1242697715/Sign-in-with-Twitter-darker.png"></a></p>
    
    <div id="footer">Copyright &copy;2009 Kyle Maxwell (and contributors)</div>
</body>