<html>
  <head>
    <style>
      *{
        font-family: sans-serif
      }
    </style>
  </head>
  <body>
    <h1>sometweets</h1>
    <p>Sometweets is a service that filters your twitter stream.  </p>
    
    <p>You can use the button below to log into a demo.</p>
    <p><a href="/admin"><img src="/misc/button.gif"></a></p>
    
    <div id="footer">Copyright &copy;2009 Kyle Maxwell (and contributors)</div>
</body>